.info
  %ul.complaiance
    %li.complaiance__urls
      =link_to "https://www.facebook.com/" do
        プライバシーポリシー
    %li.complaiance__urls
      =link_to "https://www.facebook.com/" do
        メルカリ利用規約
    %li.complaiance__urls
      =link_to "https://www.facebook.com/" do
        特定商取引に関する表記
  .bottom-logo{align:"center"}
    = image_tag "mercari_logo_vertical.png", size: "120x120", alt: "logo"
  .copy-right{align:"center"} © 2019 Mercari