.logout
  .logout__box
    .logout__box__inner
      .logout-btn-box
        =link_to 'destroy_user_session_path', class: 'logout-btn-box__inner' do
          ログアウト
        %inpit{name: '', type: 'hidden', value: ''}
