.container
  = render 'shared/side_bar'
  .logout
    .logout__box
      .logout__box__inner
        .logout-btn-box
          =link_to '#', class: 'logout-btn-box__inner' do
            ログアウト
          %inpit{name: '', type: 'hidden', value: ''}
