.container
  = render 'shared/side_bar'
  .logout
    .logout__box
      .logout__box__inner
        .logout-btn-box
          =link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout-btn-box__inner'