
//商品出品・編集ページ
.top{
  background-color:rgb(245,245,245);
  .top-image{
    margin:auto;
    height:128px;
    width:816px;
    text-align: center;
    a{
      img{
        display:inline;
      }
    }
  }
}//.top

  .top-main{
     //高さがautoにならない
    width:700px;
    margin:auto;
    background-color:white;
    .header{
      height:100px;
      text-align: center;
      line-height: 100px;
      font-size:22px;
      font-weight:700;
    }
 }//.top-main

    .images{
      margin:0;
      padding:40px;
      .image__title{
        &--font{
          font-weight:700;
        }
      }
      .image__text{
        font-size:14px;
        margin-top:8px;
      }
    }//images
    
 //image-item 後からjsで追加部分
.upload-area{
  display:flex;
  flex-wrap:wrap;
  width:620px;
  .image-save-items{
    display:flex;
    justify-content: space-between;
    //子供 image-item
  }
  .image-save-items2{
    display:flex;
    justify-content: space-between;
    //子供 image-item
  }
  .image__photo{
    flex-grow:1;
    width:20px;
    height:80px;
    margin-top:16px;
    background-color: rgb(245, 245, 245);
    border:dotted 1px;
    padding:40px 20px;
    position: relative;
    text-align:center;
    font-size:14px;
    span{
      word-break:break-all;
    }
      &--input{
        display:none;
      }
      &--text{
      }
    
  }
}

//js追加部分 親
.image-item{
  margin:16px 10px 10px 0px;
  background-color:rgb(245,245,245);      
  &__photo{
    width:113px;
    height:116px;
    overflow:hidden;
    position:relative;
    img{
      position:absolute;
      top:50%;
      left:50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }
  &__button{
    width:113px;
    background-color:rgb(235,235,235);
    height:48px;
    line-height:48px;
    text-align:center;
    &--presence{
      width:113px;
    background-color:rgb(235,235,235);
    height:48px;
    line-height:48px;
    text-align:center;
    }
  }
}


  .item-content{
    width:620px;
    height:274px;
    padding:40px;
    padding-bottom:60px;
    border-top:solid 1px rgb(238, 238, 238);
    .item-name{
      &__title{
        &--text{
          font-weight:700;
        }
      }
      &__input{
        border-radius:4px;
        margin-top:8px;
        width:586px;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
      }
    }
    .item-description{
      margin-top:40px;
      &__title{
        &--text{
          font-weight: 700;
        }
      }
      &__input{
        margin-top:8px;
        height:120px;
        width:598px;
        padding: 10px;
        border: 1px solid #ccc;
      }
    }
  }//item-content


  .item-detail{
    width:620px;
    justify-content:space-between; 
    padding:40px;
    .sub-head{
      display:block;
      color: #888;
      font-size: 14px;
    }
    //カテゴリなし
    //カテゴリサイズ

    .category__select-wrap{
      width: 390px;
    }
    .category-size{
      display:none;
      margin-top:40px;
    }
    //カテゴリブランド
    .category-brand{
      display:none;
      margin-top:40px;
      &__title{
        &--text{
        }
        &--btn{
          background-color:grey; 
        }
      }
      &__select{
        &--list{
          padding-left:10px;
          border-radius:4px;
          border: 1px solid rgb(166, 166, 166);;
          background-color:white;
          width: 390px;
          height:46px;        
          input::-ms-expand {
            display: none;
          }
        }
      }
    }//category-brand
    .category-condition{
      margin-top:40px;
    }
  } //item-detail
  
  .item-shipping{
    width:620px;
    justify-content:space-between; 
    padding:40px;
    .sub-head{
      display:block;
      color: #888;
      font-size: 14px;
    }
    .shipping{
      width: 390px;
      &__title{
        padding-top:40px;
      }
    }
  }//item-shipping

.item-price{
  width:620px;
  justify-content:space-between; 
  padding:40px;
  .sub-head{
    display:block;
    color: #888;
    font-size: 14px;
  }
  .right-wrap{
    width:400px;
      padding-bottom:24px;
    .price{
      justify-content:space-between; 
      vertical-align: center;
      &__select{
        padding-bottom:24px;
        margin-top:0px;  //select-wrapの設定リセット
        input{
          text-align:right;
          border-radius:4px;
          border: 1px solid rgb(166, 166, 166);;
          background-color:white;
          height:28px;
          width:126px;
          padding:10px 16px 8px 16px;
        }
      }
    }//price
    .price-charge{
      padding:24px 0px;
      justify-content:space-between; 
        &__title--text{
          font-size:14px;
      }
    }//price-charge
    .price-benefit{
      font-size:16px;
      font-weight:600;
      justify-content: space-between;
      padding:24px 0px;
      font-weight:600;
      &__result{
        font-size:34px;
      }
    }
  }//right-wrap
}//item-price

.send-item-content{
  padding:40px;
  font-size:14px;
  .red-btn{
    line-height:48px;
    height:48px;
    width:100%;
  }
  .gray{
    margin:16px auto;
    background-color:gray;
    width:277px;
  }
}
//editPage js用
.image__photo--hidden{
  display: none;
}

#width60{
  width:60%;
}

