.detail-container{
  width:100vw;
  background-color:#f5f5f5;
  padding:50px 0px 50px;
  .main{  
    width:700px;
    background-color: white;
    margin:0 auto;
    padding-bottom:50px;
    margin-bottom:10px;
    .item-name{
      font-size: 24px;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
      padding:20px 0;
    }
    .content{
      margin:0 40px;
      display: flex;

      .item-photo{
        width:300px;
        height:420px;
        // background-color:green;
        margin-right:20px;
        &__bottoms{
          margin-top:-6px;
          display: flex;
          flex-wrap: wrap;
          width:300px;
          height:120px;
          &__bottom{
            width:60px;
            height:60px;
          }
        }

      }
      table{
        width:300px;
        height:420px;
        tr{
          border-collapse: collapse;
          border: 1px solid #f5f5f5;
          th{
            background-color: #fafafa;
            width: 39%;
            font-size:12px;
            padding:8px;
            text-decoration: none;

          }
          td{
            background-color: #fff;
            width: 61%;
            font-size:12px;
            padding:8px;
            a{
              color:#0099e8;
            }
            .ratings{
              display:flex;
              // width:100px;
              // height:30px;
              // background-color: yellow;
              &__set{
                width:50px;
                height:15px;
                font-size:15px;
                &--grin{
                  color:#ef5185;
                  height:20px;
                }
                &--meh{
                  color:#fba933;
                  height:20px;
                }
                &--frown{
                  color:#6ab5d8;
                  height:20px;
                }     
                &__num{
                  font-size:10px;
                  line-height:20px;
                }
              }       
            }
            .arrow-color{
              color:#0099e8;
            }
          }
        }
      }
    }
    .item-price{
      padding:20px 0;
      width:620px;
      height:50px;
      text-align:center;
      &__bold{
        font-size:40px;
        font-weight:bold;
      }
      &__tax{
        font-size:5px;
      }
      &__shipping{
        font-size:20px;
      }
    }
    .item-buy-btn{
      width:620px;
      font-size:24px;
      font-weight:bold;
      text-decoration:none;
      display:block;
      text-align:center;
      padding:10px 0 10px;
      color:white;
      background-color:#ea352d;
      margin:50px auto;
    }
    .item-description{
      padding:40px;
    }
    .item-button{
      display:flex;
      padding:0 40px;
      .evaluation{
        display:flex;
        margin-right:50px;
        &--likes{
          margin-right:20px;
          width:120px;
          height:33px;
          border: 1px solid #ea352d;
          background: none;
          color: #ea352d;
          border-radius: 40px;
          font-size: 14px;
        }
        &--improper{
          width:160px;
          height:33px;
          border-radius: 40px;
          background-color:#f5f5f5;
          font-size: 14px;
        }
      }
      .safety{
        background-color: white;
        border-style: solid;
        border-width: 0;
        .btn{
          color:#0099e8;
          text-decoration: none;
          font-size: 14px;
        }
      }
    } 
  }
  .messages{
    width:700px;
    background-color: white;
    margin:0 auto;
    padding-bottom:50px;
    .message{
      display:flex;
      &__user{
        margin:20px 20px 0 20px;
        width:40px;
        height:40px;
        background-color:#f5f5f5;
        border-radius: 40px;
        overflow: hidden; 
        &__photo{
          margin-top:5px;
          vertical-align: bottom;
        }

      }
      
      &__body{
        
        width:600px;
        padding:20px;
        margin:30px 20px 0 0;
        background-color:#f5f5f5;
        border-radius: 10px;
        font-size: 14px;
        &__time{
          // margin-top:15px;
          color:#aaa;
          font-size: 14px;
        }        
      }
      &:before{
        font-family: 'FontAwesome' ;
        content: "\f0d9";
        color:#f5f5f5;
        position:relative;
        top:50px;
        left:77px;
      }
      &__notion{
        color:black;
        padding: 8px;
        font-size: 14px;
        background: #fff6de;
        display:block;
        margin:40px 24px 10px 24px;
      }
    }  
    form{
      .comment__text{
        width:652px;
        height:100px;
        margin:0 auto;
        display:block;
      }
      .comment__btn{
        width:652px;
        font-size:14px;
        text-decoration:none;
        display:block;
        text-align:center;
        padding:10px 0 10px;
        color:white;
        background-color:#aaa;
        margin:5px auto;
        border: 1px solid #aaa;
        vertical-align: middle;
      }
    }
  }
  .social-link{
    width:700px;
    height:150px;
    background-color: white;
    margin:30px auto 0px;
    .box{
      width:100px;
      height:50px;
      display: flex;
      font-size:44px;
      margin:0px auto;
      padding-top:50px;
      
      &__facebook{
        width:44px;
        height:44px;
        color:rgb(50, 105, 189);
        margin-right:5px;

      }
      &__twitter{
        width:44px;
        height:44px;
        color: skyblue;
      }
      &__pinterest{
        width:44px;
        height:44px;
        color: rgb(179, 17, 17);
      }                
    }
  }
}