.first_list{
  display:none;
  position:absolute;
  left:200px;
  top:107px;
  z-index:2;
  border-left:solid 1px #eeeeee;
  border-bottom:solid 1px #eeeeee;
  background-color:white;
  .bar-parent{
    display: block;
    align-items: center;
  }
    .link-parent{
      display: block;
      font-size:14px;
      width:224px;
      line-height: 44px;
      padding-left:16px;
      box-sizing: border-box;
      color: #333;
      &:hover{
        color: white;
      }
    }
}

.second_list{
  display:none;
  position:absolute;
  left:223px;
  top:0px;
  bottom: 0px;
  z-index:2;
  border-left:solid 1px #eeeeee;
  border-left:solid 1px #eeeeee;
  border-bottom:solid 1px #eeeeee;
  background-color:white;
  .bar-child{
    display: block;
    align-items: center;
  }
    .link-child{
      display: block;
      font-size:14px;
      width:224px;
      color:#333;
      padding:4px 16px;
      box-sizing: border-box;
    }
}

.third_list{
  display:none;
  position:absolute;
  left:223px;
  top:0px;
  bottom: 0px;
  z-index:2;
  border-left:solid 1px #eeeeee;
  border-left:solid 1px #eeeeee;
  border-bottom:solid 1px #eeeeee;
  background-color:white;
  .link-grandchild{
    display: block;
    font-size:14px;
    width:320px;
    color:#333;
    padding:4px 16px;
    box-sizing: border-box;
    &:hover{
      background-color:#F5F5F5;
    }
  }
}

.showForCategory{
  display:block;
}
.colorForParent{
  background-color:#ea352d;
}
.colorForChild{
  background-color:#F5F5F5;
}