.side-bar__box {
  margin: 0 40px 0 0;
  .side-bar{
    position: relative;
    width:280px;
    padding:16px;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    min-height: 48px;
    line-height: 14px;
    &:hover{
      background-color: #fafafa;
    }
    &__left{
      color: #333;
    }
    &__right{
      position: absolute;
      right: 16px;
      color: #ccc;
    }
  }
}
  .side-title{
    margin: 40px 0 0;
    font-size:16px;
    font-weight: bold;
  }
