-# background white
.main
  .top_banner 
    = image_tag 'bannar_image.png', height: '390', width: '100%', class: ''
  .pickup-container
    %h2.pickup-head  
      商品一覧
      .items-wrapper
        %h3.item-header 
          -# = link_to "#" do
          -#   レディース新着アイテム
        .items-box
          = render 'item' 
        .view-all
          = link_to "#" do
            ="すべての商品を見る"