-# 商品出品ページ
.top
  .top-image
    = link_to'root_path' do
      = image_tag 'mercari_logo_horizontal.png', alt: '', height: '70', width: '200', class: ''
  .top-main
    %h1.header.border-bottom 商品の情報を入力
    %form.images
      .image__title.flex
        .image__title--font 出品画像
        .image__title--btn.need-btn  必須
      .image__text 最大10枚までアップロードできます
      //仮置きフォーム
      .image__photo#upload-btn
        //画像置場
        .image__photo--save-folder
        .image__photo--upload
          //display:none をすること
          %input.image__photo--upload--input#file{type:"file",name:"image1"}
          .image__photo--upload--text 
            ドラッグ&ドロップ
            %br
            またはクリックしてファイルをアップロード
    .item-content.border-bottom
      .item-name
        .item-name__title.flex
          .item-name__title--text 商品名
          .item-name__title--btn.need-btn 必須
        %input.item-name__input{type:"text",placeholder:"商品名(必須４０文字まで)"}
      .item-description
        .item-description__title.flex
          .item-description__title--text 商品の説明
          .item-description__title--btn.need-btn 必須
        %textarea.item-description__input{rows:"10",placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
    .item-detail.border-bottom.flex
      .sub-head 商品の詳細
      .category
        .category__title.flex
          .category__title--text カテゴリー
          .category__title--btn.need-btn 必須
          //親カテゴリ
        .category__select.select-wrap
          =fa_icon "chevron-down", class: 'icon chevron-select category__select--icon'
          %select.category__select--list
            %option{:value => ""} ---
            %option{:value => "1"} レディース
            %option{:value => "2"} メンズ
            %option{:value => "3"} ベビー・キッズ
            %option{:value => "4"} インテリア・住まい・小物
            %option{:value => "5"} 本・音楽・ゲーム
            %option{:value => "1328"} おもちゃ・ホビー・グッズ
            %option{:value => "6"} コスメ・香水・美容
            %option{:value => "7"} 家電・スマホ・カメラ
            %option{:value => "8"} スポーツ・レジャー
            %option{:value => "9"} ハンドメイド
            %option{:value => "1027"} チケット
            %option{:value => "1318"} 自動車・オートバイ
            %option{:value => "10"} その他
            //子カテゴリ
        .category__select.select-wrap
          =fa_icon "chevron-down", class: 'icon chevron-select category__select--icon'
          %select.category__select--list
          

