// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page{
  background-color:rgb(245,245,245);
}

//mypage 出品ボックス

.buyed-item {
  margin: 40px 0 0;
  background-color: #fff;
  &__title {
    height: 72px;
    padding: 0 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 72px;
    background: #fafafa;
  }
  .status__tab {
    border: 0;
    background-color: #eee;
    list-style: none;
    display: flex;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 72px;
    &__doing {
      width: 50%;
      background-color: #fff;
      border-top: 2px solid #ea352d;
      &:hover {
        opacity: 0.8;
      }
    }
    &__past {
      width: 50%;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__list {
    .item__box {
      list-style: none;
      &__list {
        border-bottom: 1px solid #eee;
        position: relative;
        &:hover {
          background-color: #fafafa;
        }
        &__link {
          position: relative;
          padding: 16px;
          text-decoration: none;
          display: flex;
          color: #333;
          .buyed__image {
            height: 48px;
            width: 48px;
            &__photo {
              height: 100%;
              width: auto;
              left: 50%;
              right: auto;
            }
          }
          .buyed__text {
            margin: 0 40px 0 20px;
            &__top {
              line-height: 1.5;
            }
            &__time {
              display: inline-block;
              margin: 8px 0 0 0;
              padding: 5px 6px;
              border-radius: 2px;
              font-size: 12px;
              background: #888;
              color: #fff;
              font-weight: 600;
            }
          }
          .announce-icon {
            position: absolute;
            top: 50%;
            right: 16px;
          }
        }
      }
    }
  }
  .buyed-list__go {
    padding: 16px;
    &__inner {
      display: block;
      line-height: 56px;
      margin: 0 auto;
      text-decoration: none;
      background-color: #eee;
      text-align: center;
      color: #333;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.blue{
  background-color:#0099e8;
}